In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import utils
%matplotlib inline

In [8]:
data = pd.read_csv('./data/final.csv')
data.head(5)

,نوع الوقود,أصل السيارة,رخصة السيارة,نوع الجير,قوة الماتور,عداد السيارة,عدد الركاب,وسيلة الدفع,أصحاب سابقون,إضافات,النوع,سنة الاصدار,سعر السيارة بالشيكل
0,1,4,0,2,0.269170,130000,1,0,1,1,429,0.727273,0.058955
1,0,4,0,0,0.167978,99999,0,1,0,0,592,0.709091,0.042436
2,0,4,0,1,0.089948,99999,0,0,0,0,395,0.272727,0.004394
3,0,4,0,0,0.123004,38000,0,1,0,0,114,0.854545,0.052948
4,1,4,0,0,0.212953,99999,1,1,1,1,99,0.872727,0.204116

In [9]:
data.shape

(6862, 13)

In [10]:
X = data.drop(["سعر السيارة بالشيكل","عداد السيارة"] , axis = 1) 
y = data['سعر السيارة بالشيكل']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import utils
encoded = preprocessing.LabelEncoder()
encoded_target= encoded.fit_transform(y_train)
Decision_Tree_model=DecisionTreeClassifier()
Decision_Tree_model.fit(X_train,encoded_target)
predict=Decision_Tree_model.predict(X_test)

[233 242 148 ...  85 182 108]

In [21]:
y_pred = Decision_Tree_model.predict(X_test)

In [22]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 167.85280111527717
Mean Squared Error: 35978.535153556084
Root Mean Squared Error: 189.680086338962