In [76]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [77]:
df = pd.read_csv('./data/final.csv')
df.head()

,نوع الوقود,أصل السيارة,رخصة السيارة,نوع الجير,قوة الماتور,عداد السيارة,عدد الركاب,وسيلة الدفع,أصحاب سابقون,إضافات,النوع,سنة الاصدار,سعر السيارة بالشيكل
0,1,4,0,2,0.269170,130000,1,0,1,1,429,0.727273,0.058955
1,0,4,0,0,0.167978,99999,0,1,0,0,592,0.709091,0.042436
2,0,4,0,1,0.089948,99999,0,0,0,0,395,0.272727,0.004394
3,0,4,0,0,0.123004,38000,0,1,0,0,114,0.854545,0.052948
4,1,4,0,0,0.212953,99999,1,1,1,1,99,0.872727,0.204116

In [78]:
df.shape

(6862, 13)

In [79]:
X = data.drop(["سعر السيارة بالشيكل","عداد السيارة"] , axis = 1) 
#check that the target variable has been removed
X.head()

,نوع الوقود,أصل السيارة,رخصة السيارة,نوع الجير,قوة الماتور,عدد الركاب,وسيلة الدفع,أصحاب سابقون,إضافات,النوع,سنة الاصدار
0,1,4,0,2,0.269170,1,0,1,1,429,0.727273
1,0,4,0,0,0.167978,0,1,0,0,592,0.709091
2,0,4,0,1,0.089948,0,0,0,0,395,0.272727
3,0,4,0,0,0.123004,0,1,0,0,114,0.854545
4,1,4,0,0,0.212953,1,1,1,1,99,0.872727

In [80]:
#separate target values
y = df["سعر السيارة بالشيكل"].values
#view target values
y[0:5]

array([0.05895456, 0.04243619, 0.00439389, 0.05294788, 0.20411598])

In [91]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [109]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn import utils
encoded = preprocessing.LabelEncoder()
encoded_target= encoded.fit_transform(y_train)
knn_model=KNeighborsClassifier(n_neighbors = 3)
knn_model.fit(X_train,encoded_target)
predict=knn_model.predict(X_test)
print(predict)

[311 301 100 ...  74 194 352]

In [113]:
def accuracy(pred , y_test):
    count = 0
    for i in range(len(pred)):
        if pred[i] == y_test[i]:
            count +=1
            
    return print("Accuracy =", (count/len(pred))*100, "%")

In [114]:
accuracy(predict,y_test)

Accuracy = 0.0 %